.card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
    height: auto;
    border: 0.5px solid #A6A6A6;
    border-radius: 5px;
    padding : 10px 25px 10px 25px; 
    
   
}
.gameAndTilte{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gtitle{
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.5em;
}

.gameImg {
    width: 80%;
}

.gameInfo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.dateConsole {
    display: flex;
   flex-direction: column;
    margin-top: 10px;
}

.console {
    font-size: 2rem;
}

.date {
    font-size: 1.6rem;
    font-weight: 200;
}

.price {
    font-size: 2rem;
    font-weight: 400;
    color: #319D8F;
}

.bundle {
    font-size: 1.6rem;
    font-weight: 200;
}